* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 65%;
  margin: auto;
}

.container-small {
  width: 50%;
  margin: auto;
}

.primary {
  color: #0282f9;
}

.tertiary {
  color: #003f5e;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  border: 3px solid #0282f9;
  font-weight: bold;
  color: white;
}
.btn-blue {
  background-color: #0282f9;
}
.btn-transparent {
  background-color: none;
}
.btn-wide {
  padding: 5px 30px;
  font-size: 15px;
}
.btn-regular {
  padding: 10px 15px;
}

header {
  text-transform: uppercase;
  font-weight: bold;
}
header .top {
  background-color: #0282f9;
  color: white;
  text-align: right;
  height: 30px;
  line-height: 30px;
}
header nav {
  padding: 20px 0;
}
header nav .container .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container .flex .logo {
  width: 80px;
}
header nav .container .flex ul {
  display: flex;
  justify-content: space-between;
}
header nav .container .flex ul li {
  margin-left: 40px;
}

main .banner {
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
}
main .banner .container .banner-container {
  height: 400px;
}
main .comic-list {
  background-color: #1c1c1c;
}
main .comic-list .container .comic-list-container {
  padding: 50px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
main .comic-list .container .comic-list-container .title {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: -25px;
}
main .comic-list .container .comic-list-container a {
  margin: auto;
}
main .pre-footer {
  background-color: #0282f9;
  color: white;
  padding: 50px 0px;
  text-transform: uppercase;
  font-size: 15px;
}
main .pre-footer .container .pre-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
main .pre-footer .container .pre-footer-container .item-box {
  display: flex;
  align-items: center;
}
main .pre-footer .container .pre-footer-container .item-box img {
  max-width: 45px;
  width: 45px;
  margin-right: 10px;
}
main .single-comic-details .comic-img-stand {
  width: 100%;
  height: 80px;
  background-color: #0282f9;
}
main .single-comic-details .comic-img-stand .container-small .image-container {
  position: relative;
}
main .single-comic-details .comic-img-stand .container-small .image-container .comic-img {
  width: 180px;
  border: 2px solid white;
  position: absolute;
  bottom: -40px;
}
main .single-comic-details .description {
  padding: 70px 0;
}
main .single-comic-details .description .container-small .flex {
  display: flex;
  justify-content: space-between;
}
main .single-comic-details .description .container-small .flex .text {
  width: 68%;
}
main .single-comic-details .description .container-small .flex .text .comic-title {
  color: #003f5e;
  text-transform: uppercase;
  font-size: 26px;
  margin-top: 15px;
}
main .single-comic-details .description .container-small .flex .text .stock-info {
  display: flex;
  margin-top: 30px;
}
main .single-comic-details .description .container-small .flex .text .stock-info div {
  background-color: #55ba59;
  border: 1px solid #003f5e;
  color: #b0fd9c;
  padding: 15px 20px;
}
main .single-comic-details .description .container-small .flex .text .stock-info .price-box .price {
  color: white;
}
main .single-comic-details .description .container-small .flex .text .stock-info .price-box .availability {
  margin-left: 100px;
  text-transform: uppercase;
}
main .single-comic-details .description .container-small .flex .text .stock-info .check-options {
  color: white;
}
main .single-comic-details .description .container-small .flex .text .desc {
  color: gray;
  font-weight: 600;
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
}
main .single-comic-details .description .container-small .flex .ads {
  width: 30%;
  color: #003f5e;
  text-transform: uppercase;
  text-align: right;
  font-size: 14px;
}
main .single-comic-details .comic-info {
  background-color: #f6f6f6;
  margin-top: 1px solid black;
  padding: 60px 0 80px 0;
}
main .single-comic-details .comic-info .container-small .flex {
  display: flex;
  justify-content: space-between;
}
main .single-comic-details .comic-info .container-small .flex .info-col {
  width: 48%;
  font-size: 12px;
}
main .single-comic-details .comic-info .container-small .flex .info-col h3 {
  color: #003f5e;
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
main .single-comic-details .comic-info .container-small .flex .info-col.talent .primary {
  font-weight: bold;
  width: 60%;
}
main .single-comic-details .comic-info .container-small .flex .info-col .row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

.single-comic {
  margin: 0 20px 20px;
  width: calc(16.6666666667% - 40px);
}
.single-comic .thumbnail {
  margin-bottom: 20px;
  height: 175px;
  overflow-y: hidden;
}
.single-comic .comic-name {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}

footer .top-footer {
  width: 100%;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
footer .top-footer .container .footer-container {
  position: relative;
  padding: 50px 0;
}
footer .top-footer .container .footer-container .link-container {
  display: flex;
}
footer .top-footer .container .footer-container .link-container .col {
  margin-right: 40px;
}
footer .top-footer .container .footer-container .link-container .col div {
  margin-bottom: 20px;
}
footer .top-footer .container .footer-container .link-container .col div h3 {
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
footer .top-footer .container .footer-container .link-container .col div ul li {
  font-size: 13px;
  color: #9c9c9c;
  margin-bottom: 5px;
}
footer .top-footer .container .footer-container .logo-container {
  position: absolute;
  top: -60px;
  right: 0;
}
footer .social-footer {
  background-color: #303030;
}
footer .social-footer .container .social-footer-container {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .social-footer .container .social-footer-container .social {
  display: flex;
  align-items: center;
}
footer .social-footer .container .social-footer-container .social .cta {
  color: #0282f9;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
footer .social-footer .container .social-footer-container .social .social-list ul li {
  display: inline-block;
  margin-left: 15px;
}