footer {
    .top-footer {
        width: 100%;
        background-image: url('../images/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .container {
            .footer-container {
                position: relative;
                padding: 50px 0;
                // Link container 
                .link-container {
                    display: flex;
                    .col {
                        margin-right: 40px;
                        div {
                            margin-bottom: 20px;
                            // Title 
                            h3 {
                                margin-bottom: 20px;
                                color: white;
                                text-transform: uppercase;
                                font-size: 18px;
                            }
                            // Link 
                            ul {
                                li {
                                    font-size: 13px;
                                    color: rgb(156, 156, 156);
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                    
                }
                // Logo 
                .logo-container {
                    position: absolute;
                    top: -60px;
                    right: 0;
                }
            }
        }
    }

    .social-footer {
        background-color: #303030;
        .container {
            .social-footer-container {
                padding: 30px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .social {
                    display: flex;
                    align-items: center;
                    // Cta 
                    .cta {
                        color: $primary_color;
                        font-size: 22px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-right: 10px;
                    }
                    // Logos 
                    .social-list {
                        ul {
                            li {
                                display: inline-block;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}